
<li>
  <div class="repo-info">
    <h3><a href="{{ html_url }}">{{ name }}</a></h3>
    <div class="forked-from"><i class="octicon octicon-repo-forked"></i> forked from <a href="#">{{ full_name }}</a></div>
    <p>{{ description }}</p>
    <small>Updated {{ updated_at }}</small>
  </div>
  <div class="repo-stats"><span>{{ language }}</span>
    <a href="https://github.com/{{ owner.login }}/GitHub/stargazers"><i class="octicon octicon-star"></i><span>{{ stargazers_count }}</span></a>
    <a href="https://github.com/{{ owner.login }}/GitHub/network"><i class="octicon octicon-git-branch"></i><span>{{ forks_count}}</span></a>
  </div>
</li>

